{% extends 'base.html.twig' %}

{% block title %}Create New!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ form_start(form) }}
                    {{ include("foo/_form.html.twig", {form: form}) }}
                    <button type="submit" class="btn btn-success">Create</button>
                {{ form_end(form, {render_rest: false}) }}
            </div>
        </div>
    </div>

{% endblock %}
