{% extends 'base.html.twig' %}

{% block title %}Hello FooController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="{{ path('foo_create') }}" class="btn btn-primary">New Foo</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for foo in foos %}
                        <tr>
                            <td>{{ foo.name }}</td>
                            <td>
                                <a href="{{ path("foo_update", {id: foo.id}) }}" class="btn btn-sm btn-primary">Update</a> </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
